@tailwind base;
@tailwind components;
@tailwind utilities;


:root{
    --app-background-color: white;
    --app-article-text-color: black;
    --app-info-text-color: #444444;
}



*{
    /* universal */
    
}

#App{
    
    min-height: 100vh;
    max-width: 100vw;
    background-color: var(--app-background-color);
    color: var(--app-info-text-color);
    
}

.header{
    font-size:1.8rem;
}

.header1{
    
}

.header3{
    
}

.article{
}